<p>home works!</p>


  <div class="question-container">
    @if (errorMsg) {
    <p>{{ errorMsg }}</p>
    <button (click)="restart()">Volver al inicio</button>
    } @else if (question) {
    <h2>Pregunta {{ question.method }}</h2>
    @if (checkLogIn()) {
      <button (click)="toggleFavorite({ questionId: question.id})">
        @if (isFavorite === true) {
        ❤️
        } @else if (isFavorite === false) {
        🤍
        }
        <p>{{favoriteMsg}}</p>
      </button>
    } @else {

      <button>
        ♡
      </button>
      <p>Opcion de guardado de favoritos solo con inicio de sesion</p>
    }
    <p>Nivel {{ question.level }}</p>
    <p>Tipo de Método: {{ question.method_type }}</p>
    <p>Modo de Respuesta: {{ question.mode_answer }}</p>
    <p style="white-space: pre-line">{{ question.question }}</p>
    <p>{{ question.answer }}</p>
    <!-- <p>{{ question.explanation }}</p> -->
    <button (click)="afterQuestion()">Retroceder</button>
    <button (click)="nextQuestion()">Siguiente pregunta</button>
    } @else {
    <p>Cargando…</p>
    }
  </div>

  <div>
   <input type="text" [(ngModel)]="userAnswer" placeholder="Escribe tu respuesta aquí">
   @if(userAnswer === '') {
    <button disabled>Enviar Respuesta </button>
   } @else {
    <button (click)="sendAnswer({ questionId: question!.id, answer: userAnswer })">Enviar Respuesta</button>
   }
  </div>

  <div class="result-container">
    @if (resultUser) {
    @if (resultUser.isCorrect) {
    <p style="color: green;">✅ ¡Correcto!</p>
    <button (click)="nextQuestion()">Siguiente pregunta</button>

    } @else {
    <p style="color: red;">❌ Incorrecto. La respuesta correcta es:
      {{ resultUser.correctAnswer }}

    </p>
    }
    } @else if (result) {
    @if (result.isCorrect) {
    <p style="color: green;">✅ ¡Correcto!</p>
    <button (click)="nextQuestion()">Siguiente pregunta</button>
    } @else {
    <p style="color: red;">❌ Incorrecto. La respuesta correcta es:
      <strong>{{ result.correctAnswer }}</strong>
    </p>
    }
    }
    @if(responseProgressQuestion){
      <p>Total: {{responseProgressQuestion.total}}</p>
      <p>Contestadas hasta del total: {{responseProgressQuestion.answered}}</p>
      <p>Correctas: {{responseProgressQuestion.correct}}</p>
      <p>Incorrectas: {{responseProgressQuestion.wrong}}</p>
      <p>Pendientes: {{responseProgressQuestion.unanswered}}</p>
    }

  </div>






